[2015-01-21 08:01] isaaki opened #5 "why not simply use &"
Greetings,

First off, thanks for the helpful article on using npm's package.json as a build tool. I'm trying to get off large-footprint tools for some projects and this is a sweet little approach.

When considering the use of parallelshell, however, I'm not sure what the benefit of it is over simply using `&`, between command which also executes them in parallel.

Having tested both approaches, e

[2015-01-21 12:00] jedrichards commented on #5
Also would like to say ty for your work talking about using npm as a build too, its helped me a lot.

I agree, using `&` in place of `parallelshell` seems to work in the few cases where I've tried it, but maybe I'm missing something.

Note that I think you may also sometimes need the `wait` command to stop any long-running parallel processes properly with `ctr-c` or whatever, otherwise they'll sti

[2015-01-21 16:40] keithamus commented on #5
`&` is pretty sweet, and I'd absolutely recommend you use it for a certain number of cases. However, `&` offers specific semantics over what parallelshell does.

For starters, `&` creates a _job_ from a process, and puts it in the background. This means that the process is no longer attached to your shell env, and when you leave the shell env the task will continue to run. Take for example the fol

[2015-01-22 07:48] isaaki commented on #5
Awesome.

Thanks for the clarity @keithamus. And thanks for pointing out the `wait` command @jedrichards.

[2015-01-22 07:48] #5 closed

[2015-02-02 21:59] danawoodman opened #7 "Preserving colorized output"
Very cool package. One thing I'd love to see is the preservation of colored terminal output. Right now the color is stripped out. Would this be something that is possible to add in?

[2015-02-02 23:49] keithamus commented on #7
Thanks @danawoodman for the issue. Parallelshell should just pipe the output down without issue - so should support colour fine. What are you seeing, no colours or loads of gibberish? If no colours it could be some kind of colour detection from the program you're using - which we should be able to trick into showing colours. What program are you using that is not showing colours?

[2015-02-03 00:32] danawoodman commented on #7
Thanks for the quick reply!

I'm seeing the following when running `parrallelshell 'mocha'`:

![with parrallelshell](http://cl.ly/ZapM/Screen%20Shot%202015-02-02%20at%204.28.43%20PM.png)

...where as if I run Mocha directly I get:

![without parrallelshell](http://cl.ly/ZapM/Screen%20Shot%202015-02-02%20at%204.28.43%20PM.png)

I'm using iTerm2 to display the output.

[2015-02-03 09:16] keithamus commented on #7
Seems like mocha is checking `tty.isatty(1) && tty.isatty(2)` in the [base reporter](https://github.com/mochajs/mocha/blob/53c414462460c743174c492ad7a0b75f887e74d8/lib/reporters/base.js#L24-L36). I believe we'd just need to trick it into believing that parallelshell's stdin and out are ttys.

[2015-02-03 21:09] danawoodman commented on #7
@keithamus would using `spawn` work instead of exec?

[2015-03-08 20:15] keithamus commented on #7
Deployed as `v1.1.0`

[2015-03-08 20:15] #7 closed

[2015-03-09 20:05] danawoodman commented on #7
Yay! :+1:

[2015-03-09 20:15] danawoodman commented on #7
I'm now getting the following exception locally:

[code]

Any thoughts?

[2015-03-09 20:26] danawoodman commented on #7
Nevermind, I was running it directly on the command line rather than running through Node

[2015-03-27 13:33] alicoding opened #12 "Ctrl-C only kill the first process"
I'm using `parallelshell` in `npm script` right now and it's working great, but the only problem I'm having right now is that when I run three commands using `parallelshell` and when hit `Ctrl-C` it will only kill the first process and left the other two running in the foreground.

[code]

Where as doing:
[code]

The above command will kill all three completely when you hit `Ctrl-C`.

I'm not sure

[2015-03-27 16:58] keithamus commented on #12
Thanks for the issue @alicoding, it's definitely a bug; Ctrl+C should kill all three.

They should be registered as children of the process and my understanding of unix is that killing a parent kills all children. Maybe this assumption is wrong.

I guess the brute-force(ish) way to do this is listen for the TERM signal and manually dispatch it to all other processes. Maybe we should be generically

[2015-03-27 19:54] jbuck commented on #12
I was digging into this with @alicoding and we found that the problem was actually when you have a parallelshell child process exit with non-zero status code. It doesn't kill the other parallelshell child processes. Here's an example with a dummy sleep script:

[code]

I also thought that if the parent process dies the child processes die so I'm not sure why it's continuing to run in the backgroun

[2015-03-27 20:05] jbuck commented on #12
Also, this exactly matches the behaviour of the `&` operator.

If you use the `wait` command, then you have to wait for all processes to exit before getting the terminal prompt which is more intuitive:

`node index.js 1000 1 & node index.js 5000 0 & wait`

[2015-03-27 20:14] jbuck commented on #12
Should parallelshell kill all child processes when one of them exits with a non-zero error code? I think it's more intuitive, but it is a different behaviour. Maybe put it behind some sort of a flag, -w/--wait so it kinda acts like the bash `wait` built-in?

[2015-03-27 21:02] keithamus commented on #12
The original design intention was for parallelshell to close all child processes every time if either one of the processes died, or you killed the parallelshell task. This is primarily because if you're killing it, or another process died - things have probably gotten messed up and you're going to re-run it all anyway. Most stuff behind parallelshell will either be build scripts or something like

[2015-04-09 11:42] paulpflug commented on #12
hey, I could build something, but if it comes to parsing args - you mind the use of commander or similar helpers?

[2015-04-09 13:01] keithamus commented on #12
I'd rather keep this to 0 dependencies, but if you absolutely need to - go for it.

[2015-04-17 21:05] philer opened #15 "Question: why not use shell builtins?"
Honest question: How is this different from
`command1 & command2 & command3` ?

Regards – philer

[2015-04-17 21:15] keithamus commented on #15
Hey @philer thanks for the issue.

We had a discussion about this in #5. Hopefully this will provide some good context for you.

Abridged is:

 - `&` creates a background process, which only exits if you kill it or it ends. parallelshell will autokill processes if one of the others dies.
 - Your example (`command1 & command2 & command3`) will wait in the terminal until command3 ends only. parallel

[2015-04-17 21:15] #15 closed

[2015-04-17 22:14] philer commented on #15
I see. Should have searched the issues first.
Thanks for your answer, I can see now how your tool could be helpful. :)

[2015-04-29 12:33] anler commented on #12
Hi all, any plan on merging the fix? I need this! :smile:

[2015-05-04 12:56] radekskrabal commented on #12
Hi guys, I love using <code>parallelshell</code> on <code>Windows</code>. I would really appreciate if you could merge the PR.

[2015-05-04 14:33] keithamus commented on #12
PR can be merged when notes are addressed. Feel free to take the contents of the PR and make the changes yourself, then submit a new PR.

[2015-05-15 10:26] andraaspar opened #16 "Recursive call fails on Windows"
The command:
[code]
Results in:
[code]

[2015-05-15 10:33] keithamus commented on #16
Hey @andraaspar thanks for the issue.

It looks as though you might need to escape some of those quotes - as I'm not sure Windows would be able to recognise them like that, although I can't be sure.

Try this:

[code]

[2015-05-15 11:01] andraaspar commented on #16
Done, here's the output:
[code]

[2015-05-15 11:12] andraaspar commented on #16
FYI, I have also tried:
[code]
Which gives:
[code]

[2015-05-15 11:16] andraaspar commented on #16
But `""` as an escape sequence seems to work with `child_process.exec` in [addenv-cli](https://github.com/andraaspar/addenv-cli). Of course, migrating to `child_process.exec` may not be trivial.

[2015-05-16 13:09] andraaspar commented on #16
FYI, I have reported this as a [Node.js bug](https://github.com/joyent/node/issues/25339).

[2015-05-20 07:55] chaines commented on #12
It appears a pull request was merged to fix this issue, issue should be closed?

[2015-05-20 15:41] #12 closed

[2015-05-20 15:41] keithamus commented on #12
:+1:

[2015-05-22 19:30] nichoth opened #20 "Clarify purpose of module"
Is it only for cross-platform scripts?

Or is it different than this bash syntax:

    $ cmd1 & cmd2 & cmd3

[2015-05-22 20:10] keithamus commented on #20
He @nichoth thanks for the issue.

See #5 and #15. To quote:

 - `&` creates a background process, which only exits if you kill it or it ends. parallelshell will autokill processes if one of the others dies.
 - Your example (`command1 & command2 & command3`) will wait in the terminal until command3 ends only. parallelshell will wait until all 3 end.
 - In your example, if command1/command2 exit wi

[2015-05-22 20:10] #20 closed

[2015-05-26 17:23] nichoth opened #22 "`npm run` + OSX -- error doesn't kill all processes"
I made a repo to demonstrate the issue:

https://github.com/nichoth/para-test

This is a common scenario for me—working on multiple modules that use the same port. In one terminal, run `parallelshell "node server.js" "watchify ..."`. In a second terminal, run the same command, and the server emits an error but watchify still runs. This is using `npm run` scripts.

[2015-06-21 18:39] pklingem commented on #22
+1 same issue here, have you had any luck working around this issue?

[2015-06-21 19:55] nichoth commented on #22
It happens rarely enough I haven't tried fixing.

[2015-06-22 10:31] keithamus commented on #22
As an aside, if you tell Node's HTTP server to `.listen(0)` it'll pick a random non-priveleged port to listen to, which you can then retrieve via `.address().port` - avoiding the error altogether. E.g.:

[code]

[2015-06-22 13:02] nichoth commented on #22
Nice tip

On Mon, Jun 22, 2015 at 3:31 AM, Keith Cirkel <notifications@github.com>
wrote:

[2015-06-22 13:58] pklingem commented on #22
@keithamus thanks for the reply.  I don't think this solves my problem though.  In my case I have three tasks that parallelshell executes, a js build task, a css build task and a serve task.  The css build task is the one that seems to have the most problem being killed, it uses compass.  Now that I say that, maybe compass is the problem.  I'll do some more digging.

[2015-06-22 14:31] keithamus commented on #22
This module is supposed to exit all children on the first non-zero exit code from any child - however it seems that managing child processes is a much trickier business than I imagined. In these cases I'd ask you have a rustle around and see if you can find out whats happening, and I'll try to take a stab at fixing it so this module works as it is supposed to.

[2015-06-27 04:51] tyrsius opened #23 "Does not respect -s flag for npm"
I was inspired by this [excellent article](http://blog.keithcirkel.co.uk/how-to-use-npm-as-a-build-tool/), and tried to create the following npm script.
[code]
As seen in several examples from the article. However, the `-s` switch is not doing its job. The standard output is still showing all the normal work for each task. I am on Windows 7

[2015-06-27 11:24] paulpflug commented on #22
@keithamus are you aware, that you didn't bump the version on npm since #14?

[2015-06-28 14:46] keithamus commented on #22
Ahhh, nope, I didn't realise that. I've released `1.2.0` @paulpflug. Thanks for spotting that!

[2015-06-28 14:47] keithamus commented on #22
@pklingem want to try `1.2.0` and see if the error you have is still occurring?

[2015-06-28 14:52] keithamus commented on #23
Hey @tyrsius thanks for the issue. Some questions:

1. What's the exact output of npm?
1. What do the rest of your `scripts` look like?

[2015-06-28 16:49] pklingem commented on #22
Thanks for following up, will give it a try and report back.

On Sun, Jun 28, 2015, 10:47 AM Keith Cirkel <notifications@github.com>
wrote:

[2015-06-29 16:21] tyrsius commented on #23
My current script sections
[code]

The log output
[code]

[2015-06-29 18:58] keithamus commented on #23
Log output from `npm` has been silenced, but npm cannot control the log output of other applications.

I believe all of those log entries are from `babel`; run `babel client --out-dir dist/app --source-maps --stage 2 --modules system --optional es7.decorators,es7.classProperties ` on its own and you'll see it logging all of those lines.

We could add a silent flag to parallelshell to stop any outp

[2015-06-29 18:58] #23 closed

[2015-07-02 09:55] dkhuntrods commented on #22
First want to say thanks for this module and your posts detailing its raison d'etre. It's becoming an essential part of my workflow.
I was having a similar problem under similar circumstances and the update to 1.2.0 seems to have fixed it.

[2015-07-02 10:10] keithamus commented on #22
Great :smile:. If @nichoth and @pklingem can confirm that 1.2.0 is working for them, I'll close this issue and @paulpflug is owed a huge high five :hand:

[2015-07-02 16:00] nichoth commented on #22
I'm still having the same issue with version 1.2.0 using test repo https://github.com/nichoth/para-test & npm version 2.12.0.

[2015-07-02 18:21] paulpflug commented on #22
looks like it is a problem of npm..
If I replace `npm run watch` with the content of the watch task it closes fine.

I could workaround by using `node-posix` and kill the process group from shell
`spawn(sh,[shFlag,'kill -TERM -'+posix.getpgid(0)])`

[2015-07-02 19:52] keithamus commented on #22
Tasks like `watch`/`watchify` should be killing their sub-processes on SIGINT, we should investigate problems there further before drastic measures like adding (native!) submodules, IMO.

If I `^C` the `watch` task manually, it closes fine without bugging out - my understanding is that Bash simply SIGINTs the focused process' PID, so that should be enough for us to do - right? Perhaps because we'r

[2015-07-02 20:56] paulpflug commented on #22
I think the process hierarchy is:
[code]
But even when I eliminate (1) or (4) or both it doesn't work.

What I wrote above (If I replace npm run watch with the content of the watch task it closes fine.) doesn't work for me anymore, I think it didn't find watchify before and both child tasks errored :smiley:

Seems sh/watchify combination is troublesome. I don't understand why sending "SIGTERM" or

[2015-07-09 12:25] janusch opened #26 "run command then parallelshell commands"
Hey Keith,
Great blog post, thank you for inspiring me to remove gulp/grunt from my build process!!!

I just have one problem when using parallelshell; maybe you could help me to get it to work?

My use case:
clean a folder then start two processes with parallelshell, they are webpack and browser-sync.

My script looks like this: `"start": "npm run clean && parallelshell 'npm run dev_watch' 'npm r

[2015-07-09 14:00] keithamus commented on #26
Hey @janusch thanks for the issue.

Your first line should work fine. When you say "browser-sync does not pickup the changes" could you elaborate more?

[2015-07-09 14:14] janusch commented on #26
@keithamus thanks for your quick reply!

browser-sync is like live reload, so it should recognized files changed by webpack and reload the browser. Somehow webpack repackages and browser-sync does nothing. This only occurs when the clean task is part of the script, otherwise it works fine.
For now I am using `"start": "parallelshell 'npm run dev_watch' 'npm run dev'"` this script and do not clean

[2015-07-09 14:36] keithamus commented on #26
Why not run `npm run clean` before running `npm run dev`? e.g.

[code]

[2015-07-10 06:45] janusch commented on #26
Thank you for looking into it!
I tried your proposed solution, but for whatever reason browser-sync does not trigger.

I think ill just keep the clean task out of the start script and go with `"start": "parallelshell 'npm run dev_watch' 'npm run dev'"`
I'll just run the clean script when i need it.

Btw, there is one thing that I am missing without gulp, maybe you have an idea on how to do that wi

[2015-07-12 19:47] keithamus commented on #26
I typically use a templating language, such as [Handlebars](http://handlebarsjs.com/) and pass the template some JSON (either through the cli if it allows it, otherwise I'll write a bit of JS). This is generally much more flexible than something like gulp-inject, and scales well for when your project gets bigger.

See https://github.com/keithamus/npm-scripts-example/blob/master/package.json#L36 fo

[2015-07-13 13:12] paulpflug commented on #22
@keithamus have a look at [#2098](https://github.com/nodejs/io.js/issues/2098)

[2015-07-27 07:47] mvindahl commented on #22
We experienced this problem as well. Sometimes it even required us to restart our mac before we could do anything.

As an initial workaround, we switched to using the ttab module (https://www.npmjs.com/package/ttab), launching all child processes in a separate tab using ordinary Unix ampersands to separate the commands. Alls processes can then be terminated by closing the tab. It works, but it's M

[2015-07-28 18:36] burabure opened #28 "cant set env vars on 2.0.0"
I think this is because of the switch to exec.

this used to work:
```parallelshell \"NODE_ENV=development nodemon index.js\"  \"node webpack-server.js\" \"npm run watch\" ```

now it throws

[code]

[2015-07-28 21:36] keithamus commented on #28
Hey @burabure thanks for the issue.

You could always run it this way instead:

[code]

@paulpflug I think we should look at another solution. Possibly revert `2.0.0`?

[2015-07-28 21:44] paulpflug commented on #28
I think so too..
Maybe we have to take the kill by pgid route.
But first I will add more tests with ENV, &&, nesting and everything.

Am 28. Juli 2015 23:36:27 schrieb Keith Cirkel <notifications@github.com>:

[2015-07-28 21:46] keithamus commented on #28
:+1:

[2015-07-29 11:10] paulpflug commented on #28
@burabure could you try the version on dev branch?

[2015-07-29 11:14] paulpflug commented on #26
could be a problem of browser-sync.
Maybe it watches for file changes, but when the file gets deleted the watcher vanishes also. The only workaround is to watch the whole folder and filter the change events..

I had a similar problem when a file watcher didn't fire on changes of a compiled js file for the same reason. When compiling from coffeescript, the js gets deleted and the watcher too :smile

[2015-07-29 11:15] paulpflug commented on #22
could you try the version on the dev branch, that would be kind.. unit tests say it works :smile:

[2015-07-29 11:16] paulpflug commented on #16
should work with #30

[2015-07-29 13:19] janusch commented on #26
Interesting, @paulpflug thanks for your reply!
I think with this we can safely close this issue.

[2015-07-29 13:19] #26 closed

[2015-07-30 07:09] mvindahl commented on #22
Sure thing. I'll try it out on a pet project and see how it behaves over the next few weeks.

[2015-07-30 11:29] andraaspar commented on #16
It does indeed.

[2015-07-30 11:29] #16 closed

[2015-07-31 09:32] mvindahl commented on #22
Looks very promising. I have started and stopped my build env a number of times and I've tried to force the individual processes to crash. No zombie processes spotted.

[2015-09-02 22:33] keithamus opened #31 "Shortcut for running npm scripts"
It'd be nice if parallelshell has a shortcut for running npm scripts, something like:

[code]

We could also use globbing here, to expand multiple npm scripts; for example:

[code]

[2015-09-02 22:44] paulpflug commented on #31
I like it
Argument parsing would need a rewrite and we would need something to
translate the globbing.. Npm has no API for it, does it? So simple
project.json grep?

Am 3. September 2015 12:34:01 vorm. schrieb Keith Cirkel
<notifications@github.com>:

[2015-09-02 23:48] FacioRatio opened #32 "process.argv.slice(2) not working for single quotes"
Trying this script:

"dev": "parallelshell 'npm run livereload -s' 'npm run serve -s' 'npm run watch -s'"

Yields the following errors:
''npm' is not recognized as an internal or external command, operable program or batch file.
'run' is not recognized as an internal or external command, operable program or batch file.
'livereload' is not recognized as an internal or external command, operable pro

[2015-09-03 09:31] keithamus commented on #32
Hey @FacioRatio thanks for the issue.

You'll need to use double quotes in Windows. You can escape them in the json, like so:

[code]

If this doesn't help, let me know and we'll re-open the issue.

[2015-09-03 09:31] #32 closed

[2015-09-03 09:32] keithamus commented on #31
Grepping the project.json would be the most straightforward.

For argument parsing, I'd recommend we use minimist, as it is trivial to use and can pass multiple flags as an array of values, e.g.:

[code]

[2015-09-03 16:14] FacioRatio commented on #32
That works fine, thanks. And thanks for your "How to Use npm as a Build Tool" post; my build is so much simpler now without Gulp.

[2015-09-03 16:20] keithamus commented on #32
:tada: :smile:

[2015-09-04 13:24] ole-tange opened #33 "Difference between GNU Parallel?"
Can you explain what the difference is between parallelshell and GNU Parallel? Specifically:

parallel --halt now,fail=1 ::: "echo 1" "echo 2" "echo 3"

[2015-09-04 13:33] keithamus commented on #33
Hey @ole-tange thanks for the issue.

The biggest difference is that parallelshell is an npm module and gnu parallel isn't. While they probably do similar things, albeit (gnu) parallel being more advanced, parallelshell is an easier option to work with when using npm (because it's an npm module).

If you have gnu parallel installed on all the machines you project will be on, then by all means use

[2015-09-27 11:04] nkbt opened #36 "Combination of lint + test coverage report throws"
I see it pretty awkward. Same issue for `concurrently`

[code]

Node 0.10.40

[2015-09-28 08:56] keithamus commented on #36
@nkbt can you try using the parallelshell in #30 and see if that works any better for you?

[2015-09-29 03:29] nkbt commented on #36
Checked out #30
[code]
Installed new pshell
[code]

Run. All good, but...

I doublechecked by running it again and it failed! Then again and it was ok. Then one more - failed: https://gist.github.com/nkbt/768cde05020c004659e4

Removed node-modules, made clean install. All is the same. Task every other time.

When I add `-w` it seems to fail more consistently (like, every time) but exists with succ

[2015-09-29 09:09] keithamus commented on #36
I think your setup might be a red herring because parallelshell should not be affecting files and folders, the error you get is coming from eslint, not parallelshell:

[code]

Without `-w` the ouput is exactly what I'd expect - for whatever reason eslint is failing, and you get a non-zero exit code whenever that happens, and everything closes down. Certainly `-w` should still exit with non-zero; n

[2015-10-14 18:24] kentor opened #38 "with --wait, parallelshell always exits with 0?"
Even if the subprocesses have an exit code > 0. Is this intended?

[2015-10-14 18:31] keithamus commented on #38
That sounds like a bug. Have you tried using the dev branch (see #30)? If it fixes it for you, let me know and we can look to merging #30.

[2015-10-14 19:10] kentor commented on #38
Master:
[code]
exits 0.

Dev:
[code]

exits 0. does not show the failed rm message?

[2015-10-19 08:36] etianen opened #39 "Shut down all children on SIGTERM"
I see that parallelshell responds to the SIGINT signal by cleanly shutting down all it's children.

However, when stopped with the SIGTERM signal it simply exits, leaving all it's spawned children running.

Is this intentional behaviour?

[2015-10-19 08:54] keithamus commented on #39
Hey @etianen thanks for the issue. It sounds like a bug. PRs welcome to fix it :wink:

[2015-10-19 09:03] etianen commented on #39
Out of interest, why does parellelshell choose to terminate child processes
with SIGINT rather than SIGTERM?

I think the correct behaviour here is to listen for both SIGINT and
SIGTERM, then stop the child processes with the same signal. I'm not
*totally* certain, however. I think you could also make a case for
responding to both SIGINT and SIGTERM, but always sending SIGTERM to child
processes (

[2015-10-19 09:11] keithamus commented on #39
SIGINT is used when a terminal sends <kbd>Ctrl</kbd>+<kbd>C</kbd>. We close apps down because that's what you'd expect from sending <kbd>Ctrl</kbd>+<kbd>C</kbd>. I guess we should probably send all signals to the respective processes though, as you suggest.

FYI, if you submit a PR to this code, you should know that https://github.com/mysticatea/npm-run-all/issues/10 exists and that parallelshell

[2015-10-19 11:39] etianen commented on #39
Hmm, I see, thanks for the heads up!

I'm not sure I'll bother with the PR, in that case. I've been using
parallelshell as a quick process manager hack, but I can make do with bash
builtins in the meanwhile. :)

On Mon, 19 Oct 2015 at 10:11 Keith Cirkel <notifications@github.com> wrote:

[2015-11-11 19:39] anko commented on #33
Perhaps the readme could mention it? For those who know GNU Parallel already, seeing it mentioned in the first paragraph would quickly explain the purpose of this module.

[2015-11-23 02:35] rstacruz opened #41 "Docs: mention `a & b & wait`"
The docs make a comparison with:

[code]

But really you should compare it with:

[code]

This will wait until all commands have terminated. But yes, ^C will not abort all commands unlike parallel-shell.

[2015-11-23 09:10] keithamus commented on #41
Thanks @rstacruz :smile:

You could make a PR documenting this, if you'd like?

[2016-01-05 17:53] willcode4food opened #43 "Why BrowserSync over Webpack-dev-server?"
Just curious

[2016-01-05 17:55] willcode4food commented on #43
sorry, wrong repo

[2016-01-05 17:55] #43 closed

[2016-01-23 22:17] divmgl commented on #38
I can confirm that `parallelshell` is exiting with 0 when `--wait` is specified. I have a script that is throwing an error and `parallelshell` does not stay open. This is on Mac OSX.

[2016-02-16 12:07] davesnx opened #45 "Issue with assigning variables"
[code]

Hello,
You can't declare variables, I guess that is because isn't a process (?). I'm not sure if it's an issue or not.
The use case for that is you want to define some env variables at the same time of running a process.
i.e.

[code]

_**Edit:**_ Reading the code I'm figuring out what's going on, the child-process spawn is throwing an error.

[2016-02-16 12:47] paulpflug commented on #45
I think, this should work:

[code]

[2016-02-16 14:02] davesnx commented on #45
@paulpflug isn't working, it's the same error

[2016-02-16 16:00] paulpflug commented on #45
basically parallelshell does a `sh -c "command"`
when I call `sh -c "TEST=test env"`, TEST is there but `sh -c "TEST=test echo $TEST"` doesn't print anything

seems it is a problem of echo, maybe it computes its own env?

[2016-02-16 16:54] ksmithbaylor opened #46 "Feature request: Prefix output with (colored?) indicator of which process it came from"
After having used docker-compose in the past, I really liked the way it showed output from all of the processes it runs. Here's a screenshot:

![Docker-compose screenshot](https://calazanblog-assets.s3.amazonaws.com/media/editor-uploads/docker_compose_logs.png)

It would be nice if parallelshell allowed me to specify a "name" for each process and automatically choose a different color for each pre

[2016-02-16 17:15] paulpflug commented on #46
currently the color of the child processes are passed through
to color the output within parallelshell, we would need to buffer it, but then the color information of the children would get lost.

There could be a flag to switch between the both modes, but what really bothers me is how you want to pass the information which process gets which color ?

[2016-02-21 12:48] davesnx commented on #45
I don't think so... when u call `sh -c "ENV"` shows all the ENV of the system
Also, when u run `parallelshell "TEST=test"`throws and error of sh

[2016-02-21 12:57] paulpflug commented on #45
"TEST=test" should only work for the following command if you want to
export to ENV then you have to use "export", but parallelshell doesn't
support ENV exchange between different commands.

Am 21. Februar 2016 1:48:50 nachm. schrieb David Sancho
<notifications@github.com>:

[2016-03-29 13:58] simensen opened #52 "Suggestions for why parallelshell breaks node-notifier?"
I've wanted to add notification to the end of some of my build paths and have run into issues where I'm using `parallelshell` for watching. That is, the same set of commands ( build:scripts, build:templates, etc. ) are called by two paths, either a `npm run build` or `npm run watch`.

In the case of the former, the `build` script simply calls `npm run build:scripts && npm run build:templates`.

In

[2016-04-05 14:02] ffdead commented on #22
Hey, any updates on this?

Also having problems with a `node app.js` process not being killed properly using v2.0.0

[2016-04-05 14:08] keithamus commented on #22
@ffdead this library is currently no longer maintained, we hope to consolidate efforts with [`npm-run-all`](https://github.com/mysticatea/npm-run-all) See https://github.com/mysticatea/npm-run-all/issues/10.

[2016-04-05 14:10] ffdead commented on #22
Oh I see, thanks for the quick reply @keithamus !

[2016-04-08 00:30] #38 closed

[2016-04-11 18:41] yaycmyk opened #53 "Occasionally output goes to the wrong terminal tab"
I'm not even sure how this is possible, but it's happening nonetheless.

Running OS X latest with two terminal tabs:

1. normal entry mode on a directory
1. parallelshell with two npm scripts running in watch mode

I save a file I'm working on and the change notification piped to stdout somehow ends up on my first terminal tab. Weird right?

[2016-04-11 19:08] yaycmyk commented on #53
Alright after more digging it seems like under some circumstances, all the child processes don't get killed. And what I'm seeing is a phantom process emitting to its original terminal window.

[2016-04-11 19:18] paulpflug commented on #53
[here](https://github.com/nodejs/node/issues/2098) is the background of it.

you can try the parallelshell from the dev branch or read through [here](https://github.com/mysticatea/npm-run-all/issues/10) or try [this](https://github.com/paulpflug/script-runner)

:smile:

[2016-04-11 19:23] yaycmyk commented on #53
Will do, thanks @paulpflug!

[2016-04-12 15:49] yaycmyk commented on #53
@paulpflug That branch insta fails for me with error code 7

[2016-11-03 23:39] tim-field opened #54 "Same argument passed to all shells?"
In my npm scripts I've got something like this

[code]

Where `js:build:dev` is passing the `-d` param to each sub script.

It'd be really nice if I could instead have

[code]

And have that `-d` passed down into each script.

If you don't think this is a silly idea I could take a shot at a pull request, but I might need a pointer as to where to look.

[2016-11-04 09:44] keithamus commented on #54
@tim-field it's a good suggestion, but `parallelshell` is effectively deprecated in favour of [`npm-run-all`](https://github.com/mysticatea/npm-run-all). I'd recommend switching to that, which will support exactly what you're after, much more succinctly to boot:

[code]

Feel free to continue using `parallelshell` if you'd like, but sadly I won't be accepting any PRs.

[2016-11-04 09:44] #54 closed

[2016-11-24 09:13] nene opened #55 "Exit code"
With single command the exit code is as expected the exit code is as expected:

[code]

With multiple command though. It exits with 1 when the first command exits with 1:

[code]

But when the first command succeeds, and second fails, it exits with 0:

[code]

I tried using `--wait` but then it always exits with 0.

But the documentation says:

[2017-01-19 09:45] mirzazeyrek commented on #33
@anko It's not a nagware I suppose.

[2017-04-24 21:29] #45 closed

[2017-05-31 09:02] gabor opened #56 "fails on node8"
basically #49

TypeError: "cwd" must be a string
    at normalizeSpawnArguments (child_process.js:380:11)
    at exports.spawn (child_process.js:465:38)
    at ....node_modules/parallelshell/index.js:104:17

[2017-06-01 19:09] adamreisnz commented on #56
Also experiencing this unfortunately

[2017-06-02 04:51] MeanTeam opened #57 "child_process throwing error ('"cwd" must be a string')"
throw new TypeError('"cwd" must be a string');
TypeError: "cwd" must be a string
    at normalizeSpawnArguments (child_process.js:380:11)
    at exports.spawn (child_process.js:465:38)

The problem comes from `cwd: process.cwd,`
I am thinking could be solved executing the function to get the current path directory string: `cwd: process.cwd(),`

[2017-06-02 04:57] MeanTeam commented on #56
Ups! I create a new issue with this.
I solved modifying this line:
`cwd: process.cwd(),`

[2017-06-02 13:29] evolutionxbox commented on #57
Also using node 8.0.0 and npm 5.0.0

I've tried reinstalling parallelshell, but am met with another error
[code]

Are they related?

[2017-06-03 15:30] PierBover commented on #57
Same here... using Node 8 and NPM 5.0.1

[2017-06-06 00:57] darkguy2008 commented on #57
I've fixed it and made my own fork here: https://github.com/darkguy2008/parallelshell

Unfortunately I have no idea how to push this to npm... and nom-run-all doesn't cut it, I like paralleshell as it doesn't need me to install something globally, and it works pretty well... it just needed some small fixes for Node 8.0. I'd rather use and maintain something that just works...

[2017-06-06 01:05] PierBover commented on #57
I moved to `npm-run-all` and it didn't require me to install anything globally.

[2017-06-06 01:16] darkguy2008 commented on #57
Yeah but the syntax and all looks different, and the documentation doesn't help me to understand how to use it (or how to migrate from parallelshell), so I'd rather use my own fixed version :/

[2017-06-06 01:33] PierBover commented on #57
To run scripts in parallel:
`run-p some-npm-script some-other-npm-script`

[2017-06-06 01:54] darkguy2008 commented on #57
Well, that worked! the documentation for npm-run-all was really confusing, your example was very clear and concise. Thanks!. Ah well, I still fixed the error in parallelshell haha, in case anyone is interested I'll keep the github repo :)

[2017-06-06 02:43] keithamus commented on #57
@darkguy2008 if you'd like I'd be happy to give you the commit bit for this repo, which would allow you to publish the fix for the canonical `parallelshell` npm package.

[2017-06-06 03:23] darkguy2008 commented on #57
@keithamus Hello Keith, oh really? :O that would be awesome! I could also submit a PR if you wish. In any case, I'd be really happy to help :) let me know what do you prefer so I can prepare the files with the fix 👍

[2017-06-06 17:48] keithamus commented on #57
@darkguy2008 you've been invited 😄. Feel free to manage the repo how you want, the only thing I would say is that if you keep to the [Commit conventions](https://github.com/angular/angular.js/blob/master/CONTRIBUTING.md#commit) then Travis can automatically release new versions with each commit to master.

[2017-06-06 18:28] darkguy2008 commented on #57
Awesome! Thanks a lot :) I'll take good care of it :D Sure, my npm username is the same one as here, darkguy2008. I needed to use it on a project so I made a package using my branch, I'll delete it now that I have access here and apply the fixes in your repo. Thanks again! 👍  I'll do it when I'm back home, as I'm at work atm.

[2017-06-12 10:32] maoberlehner commented on #57
@darkguy2008 working long hours, huh? ;)

Would be cool if this gets fixed in the not so distant future. Let me know if I can help.

[2017-06-12 10:52] darkguy2008 commented on #57
@maoberlehner Hello! Kind of haha, I had some very busy days lately, however, don't worry, I'm kinda free today so I'll do it in the upcoming hours - stay tuned :D !

[2017-06-13 02:00] darkguy2008 commented on #56
Fixed! See https://github.com/keithamus/parallelshell/issues/57#issuecomment-306351280

[2017-06-13 02:00] #56 closed

[2017-06-13 09:18] maoberlehner commented on #57
Thx for fixing this. Please do not forget to publish a new release on npm. thx :)

[2017-06-14 22:34] darkguy2008 commented on #57
@maoberlehner you're welcome! I've just published a new version of the package :)

[2017-06-15 04:46] wvillegasm opened #58 "/usr/bin/env: ‘node\r’: No such file or directory ..."
Two things:
1) If you are working on Linux/OS X you will have the following issue:
/usr/bin/env: ‘node\r’: No such file or directory ...
This is bc file is saved with line separator CRLF instead LF, just save the index.js using LF line separator will solve the issue

2) index.js on version 3.0.0 is the same as the previous version, it does not has any change, still cwd: process.cwd, instead cwd: p

[2017-06-15 05:06] darkguy2008 commented on #58
1. I think you need to change your git CRLF settings to Auto, depending on your OS. I am using OSX and I didn't run into that issue. Any pointers on how to reproduce it? I'm using SourceTree to do the Git work.

2. It is because it's not being used anywhere as far as I know. index.coffee calls it, but the tests don't do anything whether if I change it to cwd or cwd() so I didn't touch it. Do you h

[2017-06-15 05:18] wvillegasm commented on #58
In order to reproduce the issue you could:

1. npm i -D parallelshell
2. Write your script into the package.json, for instance:
"scripts": {
    "build": "webpack -w",
    "serve": "browser-sync start --server --startPath \"./built/static/\" --serveStatic \"./built/static/\" --index \"index.html\"  --files \"./built/static/**/*.+(html|css|js)\" --port 3001",
    "watch:dev": "parallelshell \"npm r

[2017-06-15 05:22] wvillegasm commented on #58
npm publish from Windows handles CRLF incorrectly

https://github.com/npm/npm/issues/2097

[2017-06-15 05:25] darkguy2008 commented on #58
Alright, I'm trying that, but I'm getting errors with that package.json format - actually, using double quotes inside a double-quoted string isn't valid JSON, I'm using this package.json and it throws an error, first of all:

package.json:

    {
      "name": "test1",
      "version": "1.0.0",
      "description": "Test1",
      "main": "index.js",
      "scripts": {
        "build": "echo 'build

[2017-06-15 05:27] wvillegasm commented on #58
You need to escape the double quotes:

"watch:dev": "parallelshell \"npm run build\" \"npm run serve\""

[2017-06-15 05:35] darkguy2008 commented on #58
Alright, you were right! I managed to reproduce it, I'll fix it right away, thanks for reporting :D

[2017-06-15 05:36] wvillegasm commented on #58
You are very welcome

[2017-06-15 05:44] darkguy2008 commented on #58
Fixed & published! 👍

[2017-06-15 05:44] #58 closed

[2017-06-15 05:51] wvillegasm commented on #58
Thank You !
It is working like a charm
:dancing_men:

[2017-06-20 21:30] pik opened #59 "Allow 3.0 to be backwards compatible with < Node 8"
Currently NPM does not allow specifying multiple versions of the same package (https://github.com/npm/npm/issues/5499) or determining which package to use based on engine version.

Parallelshell existing in 2 incompatible variants is highly unsatisfactory, since this means developers have no good way to maintain working code for Node 8 as well as < Node 8 users. As far as I can tell from this comm

[2017-06-22 07:06] darkguy2008 commented on #59
Hello!

I see, well, the < 2.1 version does work with < Node8, and 3.0+ with >= Node8, but then again you do have a point and it seems to be a small fix, although I don't like much to create a dependency by checking the runner's version inside a library, it's useful for node < 8 users.

I'm sorry I didn't add this before, I will do it right away. Thanks for your concern! 👍

[2017-06-23 14:48] pik commented on #59
@darkguy2008 Thanks! It may seem uncommon in the JS ecosystem but e.g. with Python checking version is a pretty common way to make a single code-base / library compatible with both Python versions. I could provide a quick-patch if it's desired.

[2017-06-24 07:27] darkguy2008 commented on #59
@pik thanks for your insights, it makes sense now :). I've been a bit full these days and from what I could see, the variable should be process.versions.node... I could check if process.versions.node[0] == '8' but I'm not sure if that's okay... I'd need some time to set up different node envs to try. If you are able to make a patch, I'll happily review it and apply it immediately, what do you thin

[2017-06-28 16:25] mcintosh101 opened #61 "TypeError: "cwd" must be a string"
Hi,

This isn't an issue for me at the moment but though you might like to be aware of it.

I was getting this error when running ParallelShell (V2.0.0):

[code]

I went to the file `/Users/amci/Sites/business/app/support-app/node_modules/parallelshell/index.js:105:17` and found the offending line.

When I was logging `process.cwd` it was a function, not a string. Changing it to `process.cwd()` fi

[2017-06-28 17:19] darkguy2008 commented on #61
Hello.

This has been fixed long time ago, update your version to 3.x.

Thanks!

[2017-06-28 17:19] #61 closed

[2017-06-30 12:21] mcintosh101 commented on #61
Thank you!

[2017-08-10 16:54] jimmynotjim commented on #57
Thanks for this fix, I came here for the same issue.

Could you add the [release on GitHub](https://github.com/keithamus/parallelshell/releases) so it's clear v2.0.0 isn't the latest if you arrive here instead of the NPM listing. Thanks.

[2017-08-25 09:07] t3chguy commented on #59
@darkguy2008 @pik made a patch

[2017-09-07 12:49] PatrickHeneise opened #62 "New release?"
@keithamus there seems to be inconsistencies with GitHub releases and what is on npm?

[2017-09-07 19:21] keithamus commented on #62
I think my token got invalidated for the auto-release mechanism. @darkguy2008 is the current maintainer of this; @darkguy2008 do you want to manually add the release notes entries?

[2017-09-07 19:50] darkguy2008 commented on #62
@keithamus oh huh, go figure! Sure, I actually have to merge some PRs and tidy up the npm package as well which I'll do around this weekend as I'm using the package too. Is that something related to what I'm talking about or are those notes somewhere else? thanks :)

[2017-09-07 22:25] keithamus commented on #62
Yeah - I guess theres some incosnsistencies between https://github.com/keithamus/parallelshell/releases and https://github.com/keithamus/parallelshell/blob/master/History.md as well? e.g. "Releases" has 2.0 but History.md doesnt, but History.md has 3.0 and 3.0.1 while Releases doesn't?

To be frank, this is entirely your project now 😄 so whatever direction you take with any of this I'm completely

[2017-09-07 22:25] keithamus commented on #62
In fact if you'd like to we can move it to under your username or perhaps an organisation?

[2017-09-08 04:40] darkguy2008 commented on #62
@keithamus oh right, that makes sense, I've updated History and npm but not the /releases page. I see, I'm a bit new regarding public projects in GitHub (or at least with a nice userbase, haha) but I'll do my best 😄 .

That's good to know and it's also a honor 😃  I don't have an organization yet so either way could work 👍

[2017-09-13 15:08] #62 closed

[2017-10-18 18:40] Nostradamos commented on #59
Did anyone try to contact @darkguy2008 on other channels?
Would love to see this PR merged.

[2017-10-18 21:32] darkguy2008 commented on #33
I added @keithamus explanation to the Readme file so it's clearer. Thanks!

[2017-10-18 21:32] #33 closed

[2017-10-18 21:42] darkguy2008 commented on #59
Hi all, sorry for the delay, I've been really busy with work but I got a notification here and set up some time to test and tidy up the repo a little bit. The PR has been merged, I need to update the packages and whatnot now 👍 thanks @pik !

[2017-10-18 21:42] #59 closed

[2018-03-05 08:05] AdamWei commented on #61
Thank you!

[2018-05-10 21:10] ZerataX commented on #57
it seems like this is an issue again with node 10.1.0
[code]

[2018-05-18 13:10] powelmaja commented on #57
@ZerataX I had the same for node 10.x. Downgrade of parallelshell to 3.0.1 helped for me.

[2018-05-18 15:39] kiswa opened #64 "Node 10.x version check fails"
[This line](https://github.com/darkguy2008/parallelshell/blob/master/index.js#L105) fails on Node 10.x since it's checking the version with string comparison and `10` is less than `8` in that case.

[2018-05-19 15:37] gabrielbull opened #65 "child_process throwing error ('"cwd" must be a string')"
As sen by others as well: https://github.com/darkguy2008/parallelshell/issues/57#issuecomment-388187159

[code]

This bug was fixed for node 8.x but is present again in node 10.x

[2018-06-12 05:13] BrianIsSecond commented on #57
I had the same issue, and @ZerataX is correct. "Downgrade of parallelshell to 3.0.1" is the workaround. The problem is with 3.0.2.

[2018-06-18 14:34] AndyOGo commented on #55
Same issue here

[2018-06-18 14:37] AndyOGo commented on #55
BTW. the documentation is also misleading, as it claims that exit code are properly handled.

[2018-06-18 14:46] andrestaht commented on #55
@AndyOGo we switched to https://github.com/kimmobrunfeldt/concurrently

[2018-06-18 14:47] AndyOGo commented on #55
@andrestaht
Thanks. I just created a PR for switching to concurrently :)

[2018-06-20 04:33] #65 closed

[2018-06-20 04:34] darkguy2008 commented on #64
Thanks for your contribution! I've pushed a fix now to the main branch, please give it a try :)

[2018-06-20 04:35] darkguy2008 commented on #65
Thanks for your bug report! I've pushed a fix now to the main branch, please give it a try :)

[2018-06-21 20:44] nikolowry commented on #64
@darkguy2008 could you release the fix? Installing from git in the meantime.

[2018-06-24 15:51] t3chguy commented on #64
@darkguy2008 +1 to

[2018-06-27 08:29] arianseyedi opened #67 "ERR_INVALID_ARG_TYPE error for Node v10.5.0"
Hello,

I am trying to test parallelshell (package.json at the bottom of this issue for ref) simply running echo commands, but I get the following:

**> parallelshell "echo 1" "echo 2"**

child_process.js:420
    throw new ERR_INVALID_ARG_TYPE('options.cwd', 'string', options.cwd);
    ^

**TypeError [ERR_INVALID_ARG_TYPE]: The "options.cwd" property must be of type string.** Received type functio

[2018-07-04 19:56] alexander-schranz commented on #67
@arianseyedi think this is related to this issue: https://github.com/darkguy2008/parallelshell/issues/64 which I think is fixed but not released. ping @darkguy2008

[2018-07-04 19:59] alexander-schranz commented on #64
@darkguy2008 I tested the fix and it did work for me. So it should be save for a release :).

[2018-07-20 16:06] hagaigold commented on #28
@darkguy2008 , let me know if this is something of interest to this module:
a very simple implementation for supporting env vars -  fc75e0896fa0eb5168caf1d5b6c461bc0bc9686b

there is already a module for this, cross-env, who do it much better.
so if someone need more complicate parsing, he can always combine the two: calling from parallelshell to cross-end or the other way around.

anyway, I add i

[2018-08-01 17:07] williammizuta commented on #65
Can you release a new version with this fix?

[2018-08-07 07:52] roopemerikukka commented on #64
Has this been released to npm yet? ping @darkguy2008

[2018-08-27 11:29] alexander-schranz commented on #67
@tfritsch-km I currently switch to [concurrently](https://github.com/kimmobrunfeldt/concurrently) as this repo seems to be unmaintained. There was also some discussion from the old maintainer of parallelshell to merge all this task/parallel script repo's in one see https://github.com/mysticatea/npm-run-all/issues/10 so there is a list of alternatives.

[2018-11-06 09:59] FelixMH opened #69 "The "options.cwd" property must be of type string. Received type function"
I have node 11.0.0 and I have this issue when I use yarn start because a internal command by parallelshell isn't work. I've been use npm-run-all and I've been use the last version of parallelshell and the issue is continue.

the complete error is :

**
child_process.js:417
    throw new ERR_INVALID_ARG_TYPE('options.cwd', 'string', options.cwd);
    ^

TypeError [ERR_INVALID_ARG_TYPE]: The "option

[2018-11-06 13:36] edrcq commented on #69
@FelixMH I hope the PR can help you, dont hesitate to check the commits

-> https://github.com/darkguy2008/parallelshell/pull/70/commits/8d9df713c12cc3fdfc09a9291cdcf6b764bc9e8e

[2018-11-09 10:29] FelixMH commented on #69
Thank you for your comment, I need to solve this, but I am still in the same at the begin of this Open issue, I need help.

[2018-11-09 16:55] edrcq commented on #69
Take the content of the file here :
https://raw.githubusercontent.com/darkguy2008/parallelshell/master/index.js

And put the content in your /project/node_modules/parallelshell/index.js

It will works in waiting the next release of the module

[2018-11-10 01:45] FelixMH commented on #69
You mean that I need to replace the content or just paste it in the file before mencionated?

[2018-11-13 15:58] edrcq commented on #69
You take the content of this : (100% copy)
https://raw.githubusercontent.com/darkguy2008/parallelshell/master/index.js

And put in your  /project/node_modules/parallelshell/index.js
(100% paste)

It will works

@FelixMH

[2018-11-20 07:01] FelixMH commented on #69
Hi, thanks for the answer.
now, in this moment I was try put the pasted code and that it works 100% I don't know if then will works fine but in this moment with node 10.0.0 works fine.

thanks a lot for the answer.

[2018-11-20 07:01] #69 closed

[2018-11-28 12:15] benjamingr opened #71 "Please do a release with the version check fork!"

[2019-01-10 21:46] juanprog97 commented on #69
thanks men,  works 100%

[2019-01-16 11:31] benjamingr commented on #71
Ping!

[2019-01-21 14:35] benjamingr commented on #71
Ping #2

[2019-02-01 14:35] darrinholst commented on #71
@darkguy2008 can we get a new release cut?

[2019-03-09 18:55] armherr66 commented on #69
@edrcq

Thank you very much :)

[2019-05-05 07:43] EdwardZZZ commented on #71
@darkguy2008

[2019-05-08 02:04] HalfMandu commented on #69
@edrcq it worked, thanks

[2019-05-20 10:39] jydoskey commented on #57
thanks @powelmaja this issue is with powershell 3.0.2, had to downgrade to 3.0.1 and its working perfectly well

[2019-05-21 19:17] vkuradia commented on #69
Thanks a lot buddy!!! : )

[2019-06-06 07:21] rolisanchez commented on #69
Thanks!!

[2019-06-07 18:32] tKartik commented on #57
Thankyou so much for this!

[2019-06-15 23:49] edrcq commented on #64
I hope it helps

https://github.com/darkguy2008/parallelshell/commit/8d9df713c12cc3fdfc09a9291cdcf6b764bc9e8e

[2019-06-15 23:51] edrcq commented on #71
https://github.com/darkguy2008/parallelshell/commit/8d9df713c12cc3fdfc09a9291cdcf6b764bc9e8e

Please

[2019-06-16 07:16] benjamingr commented on #71
I ended up removing parallelshell from my code and using npm-run-all

[2019-08-02 19:31] mhers91 commented on #69
Thank you! this worked perfectly.

[2019-08-07 15:26] RichardBradley commented on #69
If anyone else stumbles on this and wants a workaround that doesn't involve locally modifying the node_modules dir, you can do:

    npm -i darkguy2008/parallelshell#8fd83e2

until a new version is released which includes this fix.

[2019-10-10 01:03] ManuelOviedo commented on #69
its "npm i ..." (without the dash)

[2019-10-11 11:00] Melmoth-the-Wanderer commented on #69
Is this going to be fixed/released anytime soon? It's been for almost a yea already and I came across the bug on very first approach to this package.

[2019-11-21 06:12] Clarence-pan commented on #71
I ended up forking and publishing a scoped package instead:  [@clarencep/parallelshell](https://www.npmjs.com/package/@clarencep/parallelshell)

[2019-12-15 07:43] nathan815 commented on #69
@FelixMH This issue should be reopened. It is not fixed.

@darkguy2008 Is this going to be released?

[2020-04-22 04:30] bizzyvinci commented on #64
YES!

Thanks a lot. It worked

[2020-04-23 19:59] saurav1423 commented on #69
@FelixMH please reopen this issue as the above solution have not worked for me.

[2020-04-23 20:03] saurav1423 commented on #69
@nathan815 don't try to translate in English, just copy whatever it is and paste it at the told location. It will work 100%.

[2020-04-23 20:11] FelixMH opened #73 "The "options.cwd" property must be of type string. Received type function"
I have node 11.0.0 and I have this issue when I use yarn start because a internal command by parallelshell isn't work. I've been use npm-run-all and I've been use the last version of parallelshell and the issue is continue.

the complete error is :

**
child_process.js:417
throw new ERR_INVALID_ARG_TYPE('options.cwd', 'string', options.cwd);
^

TypeError [ERR_INVALID_ARG_TYPE]: The "options.cwd" p

[2020-04-24 16:00] Matt-Kaminski commented on #73
I've updated node.js to 14.0 and got the same error. According to this:

https://github.com/darkguy2008/parallelshell/issues/69

I've edited node_modules/parallelshell/index.js file by changing this:

[code]

to this:

[code]
It seems to work now.

[2020-04-24 16:18] mametur commented on #57
[https://stackoverflow.com/questions/53461626/problem-running-parallelshell-nodejs-script](url)

[2020-04-25 01:26] Youvelop commented on #69
Thank you man!

[2020-04-30 18:25] Nischalv1999 commented on #69
its not working for me, its showing the same error! Can there be any other alternative?

[2020-05-08 15:12] jatintuteja opened #74 "npm ERR! code ELIFECYCLE"
Error: spawn cmd ENOENT
    at Process.ChildProcess._handle.onexit (internal/child_process.js:246:19)
    at onErrorNT (internal/child_process.js:427:16)
    at processTicksAndRejections (internal/process/next_tick.js:76:17)
    at process.runNextTicks [as _tickCallback] (internal/process/next_tick.js:51:3)
    at Function.Module.runMain (internal/modules/cjs/loader.js:804:11)
    at internal/main

[2020-05-18 11:35] omidantilong commented on #69
Can confirm the error still exists.

The solution posted here still works: https://github.com/darkguy2008/parallelshell/issues/69#issuecomment-438318855

Please get this resolved!

[2020-05-18 20:29] #73 closed

[2020-05-27 03:18] abhijithchowdary2 commented on #67
Have we got solution for the error of parallelshell??

[2020-05-27 11:18] alexander-schranz commented on #67
@abhijithchowdary2 this package is I think not longer maintained as you see last release 2017. I would switch to alternative. As written above I did switch to concurrently which seems still be maintained: https://github.com/kimmobrunfeldt/concurrently

[2020-05-28 06:25] abhijithchowdary2 commented on #67
Thank you for the suggestion : )

On Wed, 27 May 2020 at 16:48, Alexander Schranz <notifications@github.com>
wrote:

[2020-08-18 16:31] tombannister-94 commented on #69
I can confirm that this error still exists and the fix [here](https://github.com/darkguy2008/parallelshell/issues/69#issuecomment-438318855) still works:

Thanks @edrcq for the fix.

[2020-08-26 03:30] muhba25 commented on #69
Fixed. Thanks @edrcq

[2020-09-13 12:50] CamaraMed commented on #69
it works 100%. Thanks a lot

[2020-11-04 05:32] Arjungowda1 commented on #69
Thanks buddy  :)

[2021-01-20 07:58] kaanselhep commented on #69
Yup, I can confirm https://github.com/darkguy2008/parallelshell/issues/69#issuecomment-438318855 this solution works as well... Its very strange but it seems nobody is actually fixing it

[2021-06-12 15:05] Sailokeshg commented on #74
Even i got the exact error.How to solve this.Can anyone help me to go through it

[2021-06-12 23:02] ssaran2014 commented on #69
This problem still exists and the above solution still works. Thank you.

[2021-07-06 21:00] pm0u commented on #57
Can this be re-opened? Still happening to me, node 14.16.0 -- downgrading to 3.0.1 fixed

[2021-07-07 07:55] pewinski commented on #69
@FelixMH why is this issue closed? I don't think it's fixed in package, just ugly workaround.

[2021-07-09 11:40] TIKOsup commented on #69
@edrcq It works! Thank you!

[2021-07-09 15:43] nathan815 commented on #69
@saurav1423 A workaround isn't a fix. It should be implemented in the package itself and a new version released.

[2021-08-12 23:42] SgtPooki commented on #69
@edrcq this is still broken. are you around?

[2021-08-12 23:43] SgtPooki commented on #69
for those of you that want this fix to be "permanent".. check out patch-package

[2021-08-23 03:36] bajahranks commented on #69
2021 Still not fixed.

Thankfully [#69](https://github.com/darkguy2008/parallelshell/issues/69#issuecomment-519147261) works....

[2021-11-12 22:13] HediMuhamad commented on #74
1. Open this javascript file -> node_modules\parallelshell\index.js
2. Goto -> line: 105
3. Replace it with -> cwd: process.versions.node < **8.0** ? process.cwd : process.cwd(),

Note: I've been using this solution for 3 months and haven't had any other issue, even the solution source is not the developer.

[2021-12-09 21:30] fadiof commented on #69
thank you

[2021-12-09 21:31] fadiof commented on #69
thank you

[2022-01-05 15:49] thitlwin commented on #69
Thanks. It solves for me too.

[2022-01-29 13:02] Shreeharan1207 commented on #69
Thanks man!

[2022-08-18 22:02] flashape commented on #69
~~How is this supposed to work in a ci/cd build environment?~~ Nevermind I only need it to run locally and the fix mentioned above works fine.